#featuredimage
{
    font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;

    position: absolute;

    .quote
    {
        position: absolute;
        top: 0;

        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

        justify-content: center;
        align-items: stretch;
    }
    .text
    {
        font-size: 3rem;
        font-weight: bold;
        line-height: 3rem;

        padding: 0 10%;
    }
    .text::before
    {
        content: '“';
    }
    .text::after
    {
        content: '”';
    }
    .text::before,
    .text::after
    {
        font-size: 4rem;
    }
    .author
    {
        font-size: 1.5rem;
        font-style: italic;

        padding: 1rem 10% 0 10%;
    }
}
